* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*header and background color and font */
body {
    font-family: 'Garamond', Serif;
    background-color:#D8CFC6;
}

nav {
    background:#948575;
    height: 100px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 100px;
    margin:0 5px;
}

nav ul li a {
    color: black;
    font-size: 15px;
    text-transform: uppercase;
}

a.active,a:hover {
    transition: .5s;
    color: #000000;
}

.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-top: 30px;
    margin-right: 40px;
    cursor: pointer;
}

#check {
    display: none;
}

@media (max-width:952px) {
    nav ul li a {
        font-size: 16px;
    }
}

@media (max-width:858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width:100%;
        height: 100vh;
        background: #D8CFC6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px
    }
    a:hover,a.active {
        background:"none";
        color: #f2f3f2;
    }
    #check:checked ~ ul {
        left: 0;
    }          
}

.title-container {
    text-align: center;
    font-family: 'Garamond', Serif;
    font-size: 24px; /* Adjust font size as needed */
}

.origin-container {
    text-align: center;
    font-family: 'Garamond';
    font-style: italic;
}

.description-container {
    text-align: center;
    font-family: 'Garamond';
}

/* Add this to your existing CSS file */
.recipe-links-container {
    text-align: center; /* Center the text horizontally */
    font-family: 'Garamond', Serif; /* Set font family to Garamond */
    font-size: 18px; /* Adjust font size as needed */
    line-height: 1.5; /* Adjust line height as needed */
    direction: rtl; /* Set text direction to right-to-left */
    margin: 0 auto; /* Center the container horizontally */
    max-width: 600px; /* Set a maximum width to prevent text from stretching too wide */
}

/* Style for recipe links */
.recipe-links-container a {
    color: black; /* Set the color of recipe links to black */
}

/* Style for recipe titles */
.recipe-links-container h3 {
    font-family: 'Garamond', Serif; /* Set font family to Garamond */
    font-weight: bold; /* Make the titles bold */
}

/*footer*/
.footer {
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #948575;
    color: #000000;
  }
  .footer h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer p {
    margin-bottom: 0;
  }
  .footer {
    color: #F8F7F6;
  }
