*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}
body {
    font-family: 'Garamond', Serif;
    background-color: #D8CFC6;
}
nav{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background:#948575;
    height: 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 100px;
    margin:0 5px;
}
nav ul li a{
    color: #000000;
    font-size: 15px;
    text-transform: uppercase;

}
a.active,a:hover{
    transition: .5s;
    color: #f2f3f2;
}

.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px; /* Adjust this value to shift the button down */
    margin-top: 30px; /* Add some top margin to shift the button down */
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #D8CFC6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px
    }
    a:hover,a.active{
        background:"none";
        color: black;
    }
    #check:checked ~ ul{
        left: 0;
    }          
}
/*footer*/
.footer {
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #948575;
    color: #000000;
  }
  .footer h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer p {
    margin-bottom: 0;
  }
  .footer {
    color: #000000;
  }

.ingredients-list {
    text-align: left; /* Aligns text to the left within the container */
    display: inline-block; /* Allows the block to be sized according to its content */
    margin: 0 auto; /* Centers the inline-block horizontally */
}
.image {
    width: 90%; /* Set the image width to 50% of its container */
    height: auto; /* Let the height adjust automatically based on the width */
    overflow: hidden; /* Hide any overflow beyond the specified height */
    margin: 0 auto; /* Center the image horizontally */
    padding: 30px;
}
