*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*fonts*/
body {
    font-family: 'Garamond', Serif;
    background-color:#F8F7F6;
}
nav{
    background:#D8CFC6;
    height: 100px;
}

nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 100px;
    margin:0 5px;
}
nav ul li a{
    color: #948575;
    font-size: 15px;
    text-transform: uppercase;

}
a.active,a:hover{
    transition: .5s;
    color: #000000;
}
.checkbtn{
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-top: 30px;
    margin-right: 30px;
    cursor: pointer;
}

#check{
    display: none;
}

@media (max-width:952px){
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width:858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width:100%;
        height: 100vh;
        background: #D8CFC6;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px
    }
    a:hover,a.active{
        background:"none";
        color: #f2f3f2;
    }
    #check:checked ~ ul{
        left: 0;
    }          
}

.homeimg {
    width: 100%; /* Ensure the image container spans the entire width of the page */
    height: 60vh; /* Set the height to occupy half the viewport height */
    overflow: hidden; /* Hide any overflow beyond the specified height */
    margin: 0 auto; /* Center the image horizontally */
    padding: 30px;
}

.homeimg img {
    width: 100%; /* Set the width of the image to fill its container */
    height: 100%; /* Set the height of the image to fill its container */
    object-fit: cover; /* Ensure the image covers the entire container */
    display: block; /* Ensures the image behaves as a block-level element */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}

@media (max-width: 768px) {
    .homeimg {
        height: 60vh; /* Reduce height for smaller screens */
    }
}


/*footer*/
.footer {
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #948575;
    color: #000000;
  }
  .footer h5 {
    margin-top: 0;
    margin-bottom: 0;
  }
  .footer p {
    margin-bottom: 0;
  }
  .footer {
    color: #F8F7F6;
  }

  .underimg {
     background-color: #F8F7F6;
     color: #948575;
  }
